* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}